@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-top: 20px;
    /* height: 100px; */
}

footer{
    height: 20px;
    margin-top: 10px;
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 600px;
    margin-bottom: 20px;
}

img.logo{
    width: 150px;
    float: left;
    cursor: pointer;
    padding-right: 20px; 
    border-right: 1px solid lightgrey;
}

.nav-links{ 
   list-style: none;
}

.nav-links li{
    display: inline;
    text-align: center;
}

.nav-links{
    width: 20px;
    padding: 10px 0;
}

.nav-links a{
    text-decoration: none;
    color: lightgrey;
    font-size: 12px;
    display: block;
    padding: 10px 5px;
}

.nav-links a:hover{
    color: black;
}


/* .nav-item{
    text-decoration: none;
    color: lightgrey;
    font-size: 12px;
    /* float: inline-start; */
    /* width: 10%;
    margin: 30px 1rem 20px; */
/* }  */

/* .header{
    width: 80%;
    height: 120px;
    margin-top: 20px;
    margin: 0 auto;
} */

div#jumbotron .container{
    border-radius: 9px;
    position: relative;
    /* background-image: url(../img/banner.jp); */
    /* overflow: hidden; */
    /* width: 850px; */
    /* height: 410px; */
}

div#jumbotron img{
    /* opacity: grey; */
    /* display: cover; */
    width: 100%;
    object-fit: cover;
    /* max-width: 100%;
    max-height: 100%; */
    /* overflow: hidden; */
}

.text-jumbo{
    color:white;
    font-weight: normal;
    position: absolute;
    width: 340px;
    left: 60px;
    bottom: 20px;
}

span.lorem-text{
    font-size: 12px;
}



header.internal-header{
    /* background-color: #abcfe6; */
    margin-bottom: 15px;
    height: 70px;
}

/* section#content{
    background-color: #0086ff;
} */

section#content > header{
    height: 50px;
}

section#content aside,
section#content article{
    height: 300px;
    margin: 1rem 0;
    float: left;
    background-color: #abcfe6;
}

section#content aside{
    width: 20%;

}
section#content article{
    width: calc(60% - 2rem);
    margin: 1rem 0;
}

/* aside#col-left .img-left{
    width: 180px;
} */

aside#col-left .img-wrapper{
    width: 100%;
    height: 20%;
    background-color: #abcfe6;
}

aside#col-left{
    margin-right: 10px;
}

article#col-center{
    background-color: #abcfe6;
}

/* .column{
    float: left;
    width: 15%;
    height: 300px;

}

.img-left{ 
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#col-center{
    margin: 0 20px;
    width: calc(65% - 2px);
}

#col-right{
    float: right;
} */

span.heart{
    color:red;
}